:host {
  ion-toolbar {
    --background: #ffffff;
    --color: theme('colors.tertiary');
  }

  ion-button {
  }

  ion-item.toolbar-item {
    --padding-start: 0;
    --padding-end: 0;
  }


  img {
    height: 100%;
    object-fit: cover;
  }

  .toolbar-item {
    border-radius: 50%;
    width: 50px;
    max-width: 50px;
    height: 50px;
    --inner-padding-bottom: 0;
    --inner-padding-top: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-bottom: 0;
    --padding-top: 0;
    --min-height: 100%;

    ion-icon {
      color: theme('colors.tertiary');
      font-size: 18px;
    }
  }

  .notification-block {
    position: relative;

    .notification-badge {
      font-size: 6px;
      width: 10px;
      height: 10px;
      padding: 2px 0 0 0;
      z-index: 2;
      background: theme('colors.danger');
      outline: 1px solid theme('colors.white');
      top: 40%;
      transform: translate(-50%, -50%);
      right: 2px;
      position: absolute;
    }
  }
}