:host {
  ::ng-deep {
    .decorated-name {
      font-weight: theme('fontWeight.bold');
      color: theme('colors.secondary');
    }
  }

  ion-toolbar {
    --background: transparent;
    --color: theme('colors.tertiary');
    --padding-bottom: 24px;
    --padding-top: 24px;
    height: 100px;
  }

  ion-item.toolbar-item {
    --padding-start: 0;
    --padding-end: 0;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  h1 {
    color: theme('colors.tertiary');
  }

  .decoration-shape {
    width: 362px;
    height: 362px;
    border-radius: 50%;
    position: absolute;
    left: -120px;
    top: -120px;
    opacity: .2;
    z-index: -1;
    background: theme('colors.secondary');
  }

  .location-chip {
    padding: 25px 18px;
    --background: theme('colors.white');
    --color: theme('colors.tertiary');
    max-width: 163px;

    ion-icon {
      font-size: 24px;
      max-width: 15px;
      min-width: 15px;
      height: 15px;
      color: theme('colors.secondary');
    }

    ion-label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .toolbar-item {
    border-radius: 50%;
    width: 50px;
    max-width: 50px;
    height: 50px;
    --inner-padding-bottom: 0;
    --inner-padding-top: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-bottom: 0;
    --padding-top: 0;
    --min-height: 100%;

    ion-icon {
      color: theme('colors.tertiary');
      font-size: 18px;
    }
  }

  .notification-block {
    position: relative;

    .notification-badge {
      font-size: 6px;
      width: 10px;
      height: 10px;
      padding: 2px 0 0 0;
      z-index: 2;
      background: theme('colors.danger');
      outline: 1px solid theme('colors.white');
      top: 40%;
      transform: translate(-50%, -50%);
      right: 2px;
      position: absolute;
    }
  }
}