<ion-header mode="ios" class="ion-no-border bg-none">

  <ion-toolbar class="ion-padding-top px-3">
    <ion-chip class="location-chip" (click)="selectLocation()">
      <ion-icon color="secondary" src="assets/icons/location.svg"></ion-icon>
      <ion-label>{{currentLocation.label}}</ion-label>
      <ion-icon color="secondary" name="chevron-down-outline"></ion-icon>
    </ion-chip>


    <ion-buttons slot="end" class="mr-2">
      <ion-button class="toolbar-item border bg-white notification-block border-primary">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge class="notification-badge" color="danger">1</ion-badge>
      </ion-button>
    </ion-buttons>


    <ion-item slot="end"
              class="ion-text-center toolbar-item  border border-softGray p-0.5"
              [detail]="false"
              lines="none">
      <ion-avatar class="mx-auto min-h-full min-w-full">
        <img src="../../../assets/images/user.jpg" alt="avatar">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="decoration-shape"></div>

  <ion-grid>
    <ion-row class="mb-2.5 flex ion-justify-content-center">
      <ion-col size="11">
        <ion-text class="tracking-wider">
          <h1 [innerHTML]="'homePage.welcomeText' | translate : {name: userName}"></h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="flex ion-justify-content-center mb-5">
      <ion-col size="11">
        <app-voice-search-input [placeholder]="'homePage.searchPlaceholder' | translate"></app-voice-search-input>
      </ion-col>
    </ion-row>

    <ion-row class="horizontal-scroll mb-5">
      <ion-col *ngFor="let filter of filters; let i = index">
        <app-checkbox [title]="filter" [value]="i === 0"></app-checkbox>
      </ion-col>
    </ion-row>

    <app-selection-items [exploreLink]="'/featured-billboards'"
                         [title]="'homePage.featuredBillboards' | translate"
                         [exploreText]="'buttons.viewAll' | translate">
      <ion-row class="horizontal-scroll">
        <ion-col *ngFor="let billboard of featuredBillboards; let i = index">
          <app-board-card
            [id]="i"
            [title]="billboard.title"
            [price]="billboard.price"
            [img]="billboard.img"
            [isFavorite]="billboard.isFavorite"
            [location]="billboard.location"
            view="horizontal"
            [rate]="billboard.rate"></app-board-card>
        </ion-col>
      </ion-row>
    </app-selection-items>

    <app-selection-items [exploreLink]="'/agents'"
                         [title]="'homePage.topBannerAgents' | translate"
                         [exploreText]="'buttons.explore' | translate">
      <ion-row class="horizontal-scroll">
        <ion-col *ngFor="let agent of billboardOwners;let i = index">
          <app-billboard-owner [id]="i" [avatar]="agent.avatar" [name]="agent.name"></app-billboard-owner>
        </ion-col>
      </ion-row>
    </app-selection-items>


    <app-selection-items [exploreLink]="'/billboards'"
                         [title]="'homePage.nearbyBillboards' | translate"
                         [exploreText]="'buttons.explore' | translate">
      <ion-row>
        <ion-col size="6" *ngFor="let billboard of billboards; let i = index">
          <app-board-card
            [id]="i"
            [title]="billboard.title"
            [price]="billboard.price"
            [img]="billboard.img"
            [isFavorite]="billboard.isFavorite"
            [location]="billboard.location"
            [rate]="billboard.rate"></app-board-card>
        </ion-col>
      </ion-row>
    </app-selection-items>
  </ion-grid>
</ion-content>
