<ion-card routerDirection="forward" class="h-full" [routerLink]="['/boards', id]" mode="ios">
  <div class="alignment-block" [ngClass]="view">
    <div
      [ngClass]="{
         'mb-2.5': view === 'vertical',
         'mr-4': view === 'horizontal'
         }"
      class="img-block relative">
      <ion-img [src]="img" [alt]="title"></ion-img>
      <ion-item
        [class.favorite]="likeToggle$ | async"
        lines="none"
        [detail]="false"
        (click)="changeFavoriteValue(!likeToggle$.getValue(), $event)"
        [ngClass]="view === 'vertical' ? 'right-2' : 'left-2'"
        class="like cursor-pointer absolute w-fit top-2 right-2 rounded-full"
      >
        <ion-icon [src]="(likeToggle$ | async) ? 'assets/icons/heart-fill.svg' : 'assets/icons/heart.svg'"></ion-icon>
      </ion-item>

      <ion-item lines="none"
                *ngIf="view === 'vertical' || view === 'horizontal' && type"
                [detail]="false"
                [ngClass]="view === 'vertical' ? 'right-2' : 'left-2'"
                class="price absolute w-fit right-2 bottom-2 tracking-wider rounded-lg ">
        <ion-text>
          <ng-container *ngIf="view === 'vertical';else typeRef">
            {{price | currency}}
            <span>/{{'suffixes.month' | translate}}</span>
          </ng-container>
          <ng-template #typeRef>{{type}}</ng-template>
        </ion-text>
      </ion-item>
    </div>

    <div class="alignment-content">
      <ion-card-header class="mb-2">
        <ion-card-title class="text-tertiary text-sm font-bold">{{title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="flex flex-col">
        <div class="details flex items-center">
          <ion-item [detail]="false" lines="none" class="rate-item">
            <ion-icon class="text-warning rate-icon" src="assets/icons/rate.svg"></ion-icon>
            <ion-label class="font-bold">{{rate}}</ion-label>
          </ion-item>
          <ion-item [detail]="false" lines="none" class="location-item">
            <ion-icon src="assets/icons/location.svg"></ion-icon>
            <ion-label class="location">{{location}}</ion-label>
          </ion-item>
        </div>

        <ion-text *ngIf="view === 'horizontal'" class="price pb-3.5">
          {{price | currency}}
          <span>/{{'suffixes.month' | translate}}</span>
        </ion-text>
      </ion-card-content>
    </div>
  </div>

</ion-card>
