<app-header defaultHref="/home"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="flex ion-justify-content-center">
      <ion-col size="11">
        <ion-text class="tracking-wider">
          <h1 class="font-bold" [innerHTML]="'agents.title' | translate"></h1>
          <span class="text-xs text-mediumGray">{{'agents.subTitle' | translate}}</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" *ngFor="let agent of agents">
        <app-agent-card
          [id]="agent.id"
          [img]="agent.img"
          [rate]="agent.rate"
          [name]="agent.name"
          [topRate]="agent.topRate"
          [totalBillboards]="agent.totalBillboards"
        ></app-agent-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
