<app-header defaultHref="/home"></app-header>

<ion-content>
  <ion-grid class="lg:max-w-screen-lg">
    <ion-row class="flex ion-justify-content-center">
      <ion-col size="11">
        <ion-text class="tracking-wider">
          <h1 class="font-bold" [innerHTML]="'agents.title' | translate"></h1>
          <span class="text-xs text-mediumGray">{{'agents.subTitle' | translate}}</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="(agents$ | async) as agents">
      <ion-row *ngIf="agents.length">
        <ion-col size="6" *ngFor="let agent of agents; let i = index">
          <app-agent-card
            [id]="agent.id"
            [img]="agent.photo"
            [rate]="agent.rate"
            [name]="agent.name"
            [topRate]="i + 1"
          ></app-agent-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
