:host {
  .img-block {
    width: 160px;
    min-width: 160px;
    height: 160px;
    position: relative;

    ion-badge {
      width: 30px;
      height: 30px;
      right: -5px;
      top: -5px;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);
      font-size: theme('fontSize.lg');
      color: theme('colors.white');
    }

    ion-img {
      overflow: hidden;
      height: 100%;
      border-radius: theme('borderRadius.default');
      object-fit: cover;
    }
  }
}