<app-header
  [title]="'notifications.title' | translate"
  defaultHref="/home"
></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="lg:max-w-5xl lg:mx-auto flex justify-center">
      <ion-col class="justify-center flex" *ngFor="let notification of notifications$ | async" size="11">
        <ion-item-sliding
          class="w-fit"
        >
          <ion-item
            [detail]="false"
            lines="none"
            class="notification-item w-full"
          >
            <app-notification
              class="w-full"
              [title]="notification.title"
              [image]="notification.image"
              [content]="notification.content"
              [date]="notification.date"
            ></app-notification>
          </ion-item>

          <ion-item-options (ionSwipe)="deleteNotification(notification.id)" side="end">
            <ion-item-option (click)="deleteNotification(notification.id)" mode="md" [expandable]="true" color="danger">
              <ion-icon slot="icon-only" src="assets/icons/trash.svg"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
