<app-header
  [title]="'notifications.title' | translate"
  defaultHref="/home"
  additionalIcon="assets/icons/trash.svg"
></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="flex justify-center">
      <ion-col *ngFor="let notification of notifications" size="11">
        <ion-item-sliding>
          <ion-item
            [detail]="false"
            lines="none"
            class="notification-item"
          >
            <app-notification
              [title]="notification.title"
              [image]="notification.image"
              [content]="notification.message"
              [date]="notification.date"
            ></app-notification>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option mode="md" [expandable]="true" color="danger">
              <ion-icon slot="icon-only" src="assets/icons/trash.svg"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
