:host {

  .auth-logo__container {
    &:before {
      content: '';
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: block;
      position: absolute;
      background: radial-gradient(746.5% 129.57% at 50% 0%, rgba(33, 98, 138, 0) 1%, #1F4C6B 76.53%);
    }
  }
}
