<app-header
  [title]="'favorite.title' | translate"
  defaultHref="/home"
  additionalIcon="assets/icons/trash.svg"
></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="flex justify-center">
      <ion-col size="11">

        <ion-item [detail]="false" class="mb-5" lines="none">
          <ion-label class="overflow-visible mr-0" slot="start">
            <h2
              class="found-title inline-block">
              {{favoriteBillboards.length + ' '}}
              {{'suffixes.billboards' | translate}}
            </h2>
          </ion-label>
          <app-segment-switch [value]="'vertical'"
                              [segments]="layoutSegments"
                              (onSwitchSegment)="listView = $event"
                              slot="end"></app-segment-switch>
        </ion-item>

        <ion-list *ngIf="favoriteBillboards.length; else emptyData">
          <ion-row>
            <ion-col [size]="listView === 'horizontal' ? 12 : 6"
                     *ngFor="let billboard of favoriteBillboards; let i = index">

              <ng-container *ngIf="listView === 'vertical'; else slidingTemplate">
                <ng-container
                  [ngTemplateOutlet]="cardTemplate"
                  [ngTemplateOutletContext]="{billboard:billboard, index: i}">
                </ng-container>
              </ng-container>

              <ng-template #slidingTemplate>
                <ion-item-sliding>
                  <ion-item
                    [detail]="false"
                    lines="none"
                    class="card-item"
                  >
                    <ng-container
                      [ngTemplateOutlet]="cardTemplate"
                      [ngTemplateOutletContext]="{billboard:billboard, index: i}">
                    </ng-container>
                  </ion-item>

                  <ion-item-options side="end">
                    <ion-item-option mode="md" [expandable]="true" color="danger">
                      <ion-icon slot="icon-only" src="assets/icons/trash.svg"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ng-template>
            </ion-col>
          </ion-row>

        </ion-list>

        <ng-template #emptyData>
          <div class="">
            <ion-button [shape]="'circle'" class="add-btn mb-6">+</ion-button>
            <ion-text class="mb-6 text-tertiary">
              <h1 class="" [innerHtml]="'favorite.pageIsEmpty' | translate"></h1>
            </ion-text>

            <ion-text class="ion-text-center text-lg text-mediumGray">
              <span>{{'favorite.clickAbove' | translate}}</span>
            </ion-text>
            <ion-text></ion-text>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ng-template #cardTemplate let-billboard='billboard' let-i='index'>
  <app-board-card
    [rate]="billboard.rate"
    [location]="billboard.location"
    [isFavorite]="i === 2 || i === 0"
    [img]="billboard.img"
    [price]="billboard.price"
    [title]="billboard.title"
    [type]="billboard.type"
    [id]="i"
    [view]="listView"
  ></app-board-card>
</ng-template>
