@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

@import './styles/default.theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: theme('fontWeight.medium');
  color: theme('colors.secondary');
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: theme('fontSize.xl[0]');
  line-height: theme('fontSize.xl[1]');
  color: theme('colors.tertiary');
}

.sc-ion-label-ios-s h2, .sc-ion-label-md-s h2, h2 {
  font-size: theme('fontSize.lg[0]');
  line-height: theme('fontSize.lg[1]');
  font-weight: theme('fontWeight.bold');
  color: theme('colors.tertiary');
  letter-spacing: 0.03px;
}

.decorated-name {
  font-weight: theme('fontWeight.bold');
  color: theme('colors.secondary');
}