:host {
  ion-content {
    --padding-start: theme('padding.3');
    --padding-end: theme('padding.3');
    --padding-top: theme('padding.3');
    --padding-bottom: theme('padding.3');
  }

  .img-block {
    height: 450px;

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .view-stat-block {
    ion-icon {
      font-size: 60px;
      color: theme('colors.secondary');
    }

    ion-label {
      font-size: theme('fontSize.xl');
      font-weight: theme('fontWeight.bold');
    }

    ion-text {
      font-size: theme('fontSize.sm');
      color: theme('colors.barely');
    }
  }

  .feedback-stat-block {
    ion-icon {
      font-size: 60px;
      color: theme('colors.secondary');
    }

    ion-label {
      font-size: theme('fontSize.base');
    }

    ion-text {
      font-size: theme('fontSize.sm');
      color: theme('colors.barely');
    }
  }

  .line {
    height: 1.3px;
    background: theme('colors.softGray');
  }

  .owner-block {
    --background: theme('colors.softGray');
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --padding-start: theme('padding.6');
    --padding-end: theme('padding.6');
    --padding-top: theme('padding.3');
    --padding-bottom: theme('padding.3');
    --border-radius: theme('borderRadius.default');
    width: 100%;

    ion-avatar {
      width: 38px;
      height: 38px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .purchase-btn {
    z-index: 1000;
  }
}
