:host {
  ion-tab-bar {
    --background: theme('colors.white');
    height: 72px;
  }

  ion-tab-bar {
    contain: none;
    position: relative;
    border-top: 1px solid theme('colors.primary');
    box-shadow: 0 5px 10px 10px rgba(139, 200, 63, 0.4);
  }

  ion-tab-button {
    --color: theme('colors.secondary');
    --color-selected: theme('colors.secondary');
    --color-focused: theme('colors.secondary');

    &:nth-child(2) {
      padding-right: theme('padding.6');
    }

    &:nth-child(3) {
      padding-left: theme('padding.6');
    }

    ion-icon {
      font-size: 28px;
    }
  }

  .add-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-start: 0;
    --padding-end: 0;
    top: -30%;
    margin: 0 0 theme('margin.6') 0;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    --background: radial-gradient(116.28% 116.28% at 0% -16.28%, #234F68 4.69%, #8BC83F 98.31%);
    box-shadow: 0 0 68px 10px rgba(139, 200, 63, 0.8);
    color: theme('colors.white');
    font-size: 32px;
  }

}
